// NSL CDC Demo Pin Constraints

// Clock
IO_LOC  "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// Reset
IO_LOC  "rst_n" G11;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Test inputs
IO_LOC  "async_input" F11;
IO_PORT "async_input" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "cross_domain_input" E11;
IO_PORT "cross_domain_input" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// Test outputs
IO_LOC  "test_output" D11;
IO_PORT "test_output" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "tig_output" C11;
IO_PORT "tig_output" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
