CLAUDE.md
doc/plan
.claude
__pycache__
*.pyc
.gbs/
*.o
*.cf
_build
_mgmt
gbs-build
*.svg
*-report.html
.Xilinx
dfx_runtime.txt
*.dmp
*.jou
timing.yaml
/example/diamond/reference
/example/vivado/project_1.gen
